@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

.logout {
    width: 30px;
    height: 30px;
    background-color: #216ce7;
    border-radius: 20px;
}

.navbar>h1 {
    background-color: #d8d2d2;
    color: #5ec95e;
    display: block;
    height: 80px;
    width: 100%;
    position: absolute;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Ephesis', cursive;
    top: -3px;
    text-align: center;
}

nav>button {
    border: 0;
    padding: 0;
    background: transparent;
    line-height: 1;
    color: inherit;
    font-family: sans-serif;
    font-size: 20px;
}

@media (width>=500px) {

    nav>button {
        font-size: 16px;
    }
}

:is(.navDropdowns, .burger, .navbar) {

    position: fixed;
    top: 0;
    width: 100%;
}

.navbutton,
.Homebutton {
    display: flex;
    align-items: center;
    background: #bbbbbb;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    gap: 4px;
    padding: 0 24px;
    border: none;
    height: 100%;
    opacity: 0.6;
}

.navbutton>img {
    display: none;
}

@media(width>=500px) {

    .navbutton,
    .Homebutton {
        padding: 0 10px 0 24px;
    }

    .navbutton>img {
        display: block;
    }
}

@media(width >=500px) {
    .Dropdown:hover .navbutton .Homebutton {
        opacity: 1;
    }
}

.Dropdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 0;
    margin: 0;
    height: 50px;
    background: #bbbbbb;

}


.burger {
    z-index: 3;
    right: 0;
    display: grid;
    place-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    background: #bbbbbb;
    background-image: url(menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url(close.svg);
    border: none;
    background-color: #bbbbbb;
    height: 40px;
    width: 40px;
}

@media (width>=500px) {
    .burger {
        display: none;
    }
}

.navDropdowns {
    left: -9999px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #bbbbbb;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visiblity;
    transition-duration: 0.3s;
}


@media (width<500px) {
    body.open .navDropdowns {
        opacity: 1;
        visibility: visible;
        left: 0;
    }

    #search-bar {
        visibility: hidden;
    }

    .navbutton {
        text-align: center;
        height: 25px;
        width: 100%;
        justify-content: center;
        border: 1px solid black;
        margin-top: 5px;
        background-color: #000000;
        color: rgb(250, 250, 250);

    }

    .Homebutton {
        background-color: #bbbbbb;
        position: absolute;
        left: 40%;
    }

    .dropdown-menu {
        width: 200px;
    }

}


@media (width>=500px) {
    .navDropdowns {
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        background: transparent;
        opacity: 1;
        visibility: visible;
    }
}

@media (width>=500px) {
    .Dropdown {
        height: 100%;
        flex-direction: row;
    }

    .dropdown-menu {
        position: absolute;
        top: 72px;
        left: 0;
        width: 180px;
        padding: 6px 24px 10px;
        margin-bottom: 0;
        place-items: start;
        opacity: 0;
        visibility: hidden;
        translate: 0 24px;
        transition: 0.3s;
    }

    .Dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        translate: 0 0;
    }
}

.dropdown-menu {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.dropdown-menu>button {
    color: #000000;
    font-family: sans-serif;
    font-weight: bolder;
    opacity: 1;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #ffffff;
}

@media (width >=500px) {
    .dropdown-menu>button {
        opacity: 0.6;
    }

    .Dropdown:hover .navbutton .Homebutton {
        opacity: 1;
    }
}

.dropdown-menu>button:hover {
    opacity: 1;
}

.navbutton>img {

    width: 10px;
    height: 10px;
}

.webicon {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;

}

/*search bar*/

.search-bar {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 50%;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
}

.search-icon {
    width: 25px;
    height: 25px;
    background-image: url(search.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    position: absolute;
    right: 20px;
    top: 8px;
}

#search-container {
    visibility: hidden;
}



:root {
    --color-primary: #8f44fd;
    --color-label: #e91e63;
    --color-default: #e91e63;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #f6f6fe;
    color: #e91e63;
}

body,
html {
    height: 100%;
}

.card>h2,
.card>h3 {
    font-weight: 400;
    margin: 0;
}

.card>h2 {
    font-size: 22px;
    margin: 0 0 1px;
}

.card>h3 {
    font-size: 12px;
    color: var(--color-label);
    margin-bottom: 10px;
}

.card {
    background: #272525;
    position: relative;
    top: 40%;
    margin-bottom: 150px;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.08);
}

body .apexcharts-tooltip.apexcharts-theme-light {
    color: var(--color-text);
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    /* border: 0; */
    padding: 8px;
    /* opacity: 1 !important; */
}

body .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    display: none;
}

body .apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light {
    display: none;
}



.footer {
    background-color: #24262b;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 70px 0;
    margin-top: 100px;
    position: static;
    bottom: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    position: relative;
    bottom: 30px;
    margin: auto;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10x 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.footer-col .social-links .fb:hover {
    color: #ffffff;
    background-color: #0077b5;
    transform: rotateY(360deg);
}

.footer-col .social-links .X:hover {
    color: #ffffff;
    background-color: #000000;
    transform: rotateY(360deg);
}

.footer-col .social-links .IG:hover {
    color: #ffffff;
    background: linear-gradient(to bottom left, #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
    transform: rotateY(360deg);
}

.footer-col .social-links .LI:hover {
    color: #ffffff;
    background-color: #0077b5;
    transform: rotateY(360deg);
}

@media(media<=574px) {
    .footer-col {
        width: 100%;
    }

}
